// color variables:
$txt: #323232;
$bg: #FFFFF8;
$black: #000000;
$white: #ffffff;
// main
$main-tree: #236A11;
$main-sun: #F4DD96;
// linear
$linear-yellow: linear-gradient(180deg, #F4DD96 0%, #E3BE4D 100%);
// additional
$additional-light-green: #F3FFF0;
$additional-gray: #DEDEDE;
$additional-blue: #3D89B4;
$additional-orange: #E1A449;