.about {
    &-title {
        margin-bottom: 50px;
        @media(max-width: $L-mobile){
            margin-bottom: 40px;
        }
    }

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 60px;
        position: relative;
        overflow: hidden;
        border-radius: 12px;
        border: 1px solid $additional-gray;
        padding-right: 35px;
        margin-bottom: 50px;

        @media(max-width: $tablet) {
            column-gap: 20px;
            padding-right: 20px;
        }

        @media(max-width: $L-mobile) {
            align-items: flex-start;
            flex-direction: column;
            padding-right: 0;
            margin-bottom: 40px;
        }

    }

    &-img {
        display: block;
        position: relative;
        width: 380px;
        height: 290px;
        background-image: url("../img/about-img.png");
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        @media(max-width: $tablet){
            width: 320px;
        }
        @media(max-width: $L-mobile){
            border-top-right-radius: 12px;
            border-bottom-left-radius: 0;
            width: 100%;
        }
        @media(max-width: $tablet) {
            width: 320px;
            height: 230px;
        }
        @media(max-width: $L-mobile) {
            background-position: center center;
            width: 100%;
            height: 230px;
        }
    }

    &-items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 27px;
        @media(max-width: $tablet){
            grid-template-columns: repeat(2, 1fr);
            row-gap: 40px;
        }
        @media(max-width: $L-mobile){
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &-item {
        padding: 30px 0;
        border-radius: 14px;
        border: 1px solid $txt;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
    }

    &-text {
        width: 60%;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            right: -50px;
            top: -50px;
            background-image: url("../img/ornament.svg");
            width: 300px;
            height: 300px;

            @media(max-width: $tablet) {
                top: 0;
                right: -30px;
            }
        }

        @media(max-width: $L-mobile) {
            width: 100%;
            padding: 20px;
        }
    }

    &-num {
        position: absolute;
        top: -22px;
        left: 7px;
        color: $txt;
        font-size: 40px;
        font-weight: 300;
        line-height: 30px;
        background: $bg;
        width: 80px;
        padding: 5px 0;
    }

    &-mini {
        color: $main-tree;
    }
}