.layout {
    position: relative;
    overflow: hidden;
    padding-top: 40px;
    &.section{
        margin-bottom: 0;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../img/layout-ornament.svg);
        background-size: cover;
        width: 400px;
        height: 400px;
        z-index: -1;
        @media(max-width: $mobile){
            width: 100%;
        }
    }

    &-inner {
        margin: 50px 0 0;

        @media(max-width: $L-mobile) {
            margin: 40px 0 0;
        }

        .tab {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 70px;
            overflow: hidden;

            @media(max-width: $laptop) {
                column-gap: 20px;
            }

            @media(max-width: $tablet) {
                grid-template-columns: repeat(2, 1fr);
                column-gap: 20px;
                row-gap: 20px;
            }

            @media(max-width: $L-mobile) {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        .tab button {
            background-color: $bg;
            border-radius: 14px;
            border: 1px solid $txt;
            transition: 0.3s;
            padding: 18px 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 15px;
        }

        .tab button:hover {
            background-color: $main-sun;
            border: 1px solid transparent;
        }

        .tab button.active {
            background-color: $main-sun;
            border: 1px solid transparent;
        }

        .tabcontent {
            display: none;
            border-top: none;
            margin-top: 40px;

            &-inner {
                display: flex;
                align-items: center;
                justify-content: space-between;
                column-gap: 75px;

                @media(max-width: $tablet) {
                    align-items: flex-start;
                    flex-direction: column;
                }
            }
        }
    }

    &-left {
        width: 250px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        @media(max-width: $tablet) {
            width: 100%;
        }

        p {
            overflow: hidden;
        }

        p:after {
            content: '';
            display: block;
            white-space: nowrap;
            overflow: hidden;
            border-bottom: 1px solid #DEDEDE;
            margin-top: 13px;
        }

        span {
            &:first-child {
                padding-right: 7px;
            }

            &:last-child {
                padding-left: 7px;
            }
        }

        p span:first-of-type {
            float: left;
        }

        p span:last-of-type {
            float: right;
        }

        sup {
            position: absolute;
        }
    }

    &-slider {
        max-width: 850px;

        @media(max-width: $laptop) {
            max-width: 650px;
        }

        @media(max-width: $tablet) {
            max-width: 100%;
            margin-top: 40px;
        }

        .swiper-slide {
            &>img {
                width: 100%;
            }
        }

        & .layout-swiper-button-next {
            width: 60px;
            height: 60px;
            right: 15px;

            &::after {
                display: none;
            }
        }

        & .layout-swiper-button-prev {
            width: 60px;
            height: 60px;
            left: 15px;

            &::after {
                display: none;
            }
        }

        .swiper-button-disabled {
            display: none;
        }
    }

}