.promo{
    &-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 40px;
        border-radius: 12px;
        border: 1px solid $additional-gray;
        padding-right: 30px;
        @media(max-width: $tablet){
            column-gap: 20px;
        }
        @media(max-width: $L-mobile){
            flex-direction: column;
            align-items: flex-start;
            padding-right: 0;
        }
        img{
            
        }
    }
    &-img {
        display: block;
        position: relative;
        width: 380px;
        height: 290px;
        background-image: url("../img/promo-img.png");
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        @media(max-width: $tablet){
            width: 320px;
        }
        @media(max-width: $L-mobile){
            border-top-right-radius: 12px;
            border-bottom-left-radius: 0;
            width: 100%;
        }
        @media(max-width: $tablet) {
            width: 320px;
            height: 230px;
        }

        @media(max-width: $L-mobile) {
            background-position: center center;
            width: 100%;
            height: 230px;
        }
    }
    &-text{
        width: 60%;
        font-weight: 300 !important;
        span{
            border-bottom: 1px solid $txt;
        }
        @media(max-width: $L-mobile){
            width: 100%;
            padding: 20px;
        }
    }
}